<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body admin-page">
        <div class="width-align">
            <div class="big-center-menu">
                <div class="create-match-div">
                    <h1 style="text-align: center">Admin panel</h1>

                    <div class="admin-btns-div">
                        <div class="admin-btns-margin">
                            <a th:href="@{/}" class="admin-btns">Create Guide</a>
                            <a th:href="@{/admin/add-match}" class="admin-btns">Create Match</a>
                            <a th:href="@{/admin/end-match}" class="admin-btns">End Match</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>