<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS:GO End Match | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin/end-match.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin/endMatchById.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body match-end-page">
        <div class="width-align">
            <div class="big-center-menu" th:object="${matchToEnd}">
                <div class="match-on-end">
                    <h2 style="margin-bottom: 15px; text-align: center;"
                        th:text="${matchToEnd.firstTeamName} + ' VS ' + ${matchToEnd.secondTeamName}"></h2>

                    <form class="match-on-edit-form" th:action="@{'/admin/end-match/' + ${matchToEnd.id}}" method="post">

                        <div th:if="${error}" style="margin-bottom: 10px;">
                            <span class="validationError"
                                  th:text="${errorMessage}">Name Error
                            </span><br/>
                        </div>

                        <div class="text-before-field-div">
                            <label class="text-before-field" for="endMatchFirstTeamScore"
                                   th:text="${matchToEnd.firstTeamName}"></label>
                            <label class="text-before-field-score" for="endMatchFirstTeamScore"> score</label>
                        </div>
                        <div th:if="${#fields.hasErrors('firstTeamScore')}">
                            <span class="validationError"
                                  th:errors="*{firstTeamScore}">Name Error
                            </span><br/>
                        </div>
                        <input type="number" class="end-match-input" th:field="*{firstTeamScore}"
                               placeholder="1 team score" id="endMatchFirstTeamScore"/><br/>

                        <div class="text-before-field-div">
                            <label class="text-before-field" for="endMatchFirstTeamScore"
                                   th:text="${matchToEnd.secondTeamName}"></label>
                            <label class="text-before-field-score" for="endMatchFirstTeamScore"> score</label>
                        </div>
                        <div th:if="${#fields.hasErrors('secondTeamScore')}">
                            <span class="validationError"
                                  th:errors="*{secondTeamScore}">Name Error
                            </span><br/>
                        </div>
                        <input type="number" class="end-match-input" th:field="*{secondTeamScore}"
                               placeholder="2 team score" id="endMatchSecondTeamScore"/><br/>

                        <button type="submit" class="btn btn-end-match">End match</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>