.big-center-menu {
    order: unset !important;
    margin: 0 auto !important;
}

.add-guide-form {
    display: grid;
    max-width: 300px;
    margin: 0 auto;
}

.first-text-field {
    margin-top: 15px;
}

.text-before-field {
    font-weight: 600;
    font-size: 15px;
}

.add-guide-input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px;
    padding-left: 5px;
}

.add-guide-textarea {
    height: 160px;
    resize: vertical;
    padding: 5px;
}

.add-guide-button {
    padding: 12px 7px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    transition: .1s ease;
}

.add-guide-button:hover {
    background-color: #ececec;
    color: #224899;
}

.btn-to-admin-guide {
    max-width: 132px;
}