/*
    LEFT AREA
*/

.main-ranking-head-h5 {
    margin-bottom: 14px !important;
    margin-top: 14px !important;
}

.left-area-team-ranking {
    min-width: 150px;
    max-width: 150px;
}

.main-ranking-a-team-place, .main-ranking-a-team-name {
    font-size: 12px;
}

/*
    CENTER AREA
*/

.matches-box {
    background: white;
    display: grid;
    min-width: inherit;
    box-shadow: 0 0px 2px 0 rgba(50,50,50,.4);
}

.match-link {
    background-color: white;
    display: flex;
    padding: 8px;
    min-height: 12px;
    line-height: 15px;
    border-bottom: 1px solid #CACACA;
    color: #10459E;
}

.match-link:hover {
    background-color: #E7E7E7;
    color: #186EFF;
}

.match-time {
    flex: 1 1 auto;
    min-width: 72px;
    color: black;
    font-weight: 100;
}

.match-first-team-name {
    flex: 1 1 auto;
    min-width: 150px;
}

.match-vs-sign {
    flex: 1 1 auto;
    min-width: 40px;
    color: black;
    font-weight: 100;
}

.match-second-team-name {
    flex: 1 1 auto;
    max-width: 140px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.match-tournament-name {
    font-weight: 100;
    flex: 1 1 auto;
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}