/*
    LEFT AREA
*/

.main-ranking-head-h5 {
    margin-bottom: 14px !important;
    margin-top: 14px !important;
}

.main-matches-a-teams {
    min-width: 118px;
}

.left-area-team-ranking {
    min-width: 150px;
    max-width: 150px;
}

.main-ranking-a-team-place, .main-ranking-a-team-name {
    font-size: 12px;
}

/*
    CENTER AREA
*/

.single-match-div {
    background-color: white;
    border-radius: 3px;
    text-align: center;
    margin-top: 15px;
}

.first-team {
    background: linear-gradient(270deg,hsla(0,0%,100%,0) 10%,#e6e6e6);
}

.second-team {
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 10%,#e6e6e6);
}

/*
    TOURNAMENT INFO
*/

.tournament-info-div {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 20px 0;
}

.single-match-h-tags {
    display: inline-block;
}

.tournament-name-h1 {
    margin-bottom: 10px;
    font-size: 22px;
}

/*
    MATCH INFO
*/

.match-info-div {
    display: flex;
    line-height: 100px;
    box-shadow: 0 0 2px 0 rgba(50,50,50,.4)
}

.single-team {
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex: 1 0 0;
}

.single-match-a-tags {

}

.single-match-a-name-div {
    font-size: 20px;
    line-height: 70px;
    font-weight: 700;
    color: #10459E;
    transition: .1s ease;
}

.single-match-a-name-div:hover {
    color: #0C2457;
}

.single-vs-sign-div {
    flex: 1 0 0;
    position: relative;
}

/*
    MATCH MAPS INFO
*/

.match-maps-info-div {
    display: flex;
    box-shadow: 0 1px 0px 0 rgba(50,50,50,.4);
}