body {
    margin: 0;
    background-color: black;
    padding-top: 46px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: Verdana;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    border: double;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

span.validationError {
    color: red;
}

.navbar {
    background-color: #F3711E;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    font-size: 16px;
    top: 0;
    width: 100%;
    position: fixed;
}

.navbar .navcon {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.navcon-align {
    display: flex;
    margin: 0 auto;
}

.navbar-link-home {
    color: white;
    border-left: 1px solid black;
}

.navbar-link {
    color: white;
    padding: 0 15px;
    height: 46px;
    line-height: 46px;
    border-right: 1px solid black;
    transition: .2s ease;
}

.navbar-link:hover {
    color: #294D99;
    background-color: #EAEAEA;
}

.navbar-search {
    display: inline-block;
    padding: 12px 15px;
    border-right: 1px solid black;
}

.navbar-search-btn {

}

.body {
    background-color: #CDD9DF;
    min-height: calc(100vh - 100px);
    max-width: 1000px;
    margin: 0 auto;
}

.width-align {
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.home-left-area {
    order: 1;
    min-width: 200px;
    max-width: 200px;
    margin-right: 20px;
}

.home-matches-head-h5, .home-ranking-head-h5 {
    margin-bottom: 7px;
    display: inline-block;
    transition: .1s ease;
}

.home-matches-head-h5:hover, .home-ranking-head-h5:hover{
    color: #656565;
}

.home-matches {
    display: grid;
    text-align: center;
    box-shadow: 0 0px 2px 0 rgba(50,50,50,.4);
}

.home-matches-a {
    display: flex;
    padding: 7px;
    min-height: 24px;
    line-height: 24px;
    background-color: white;
    border-bottom: 1px solid #CACACA;
    color: black;
}

.home-matches-a:hover {
    background-color: #E7E7E7;
    color: #224899;
}

.home-matches-a-teams {
    min-width: 130px;
    text-align: left;
    flex: 1 1 auto;
}

.home-matches-a-time {
    min-width: 44px;
    max-width: 50px;
    line-height: 52px;
    padding-right: 4px;
    text-align: right;
    flex: 1 1 auto;
}

.home-guides {
    order: 2;
    min-width: 600px;
    max-width: 600px;
    flex: 1 1 auto;
    overflow: hidden;
}

.big-guide {
    margin-bottom: 5px;
}

.little-guide {
    display: grid;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(50,50,50,.4);
}

.lille-guide-a {
    display: flex;
    padding: 7px;
    border-bottom: 1px solid grey;
}

.lille-guide-a:hover {
    background-color: #E7E7E7;
    color: #224899;
}

.little-guide-h5 {
    flex: 1 1 auto;
}

.little-guide-time {
    min-width: 100px;
    text-align: center;
}

.home-right-area {
    order: 3;
    min-width: 130px;
    max-width: 130px;
    margin-left: 20px;
}

.home-ranking-box {
    display: grid;
    min-width: inherit;
    box-shadow: 0 0px 2px 0 rgba(50,50,50,.4);
}

.home-ranking-a {
    background-color: white;
    display: flex;
    padding: 8px;
    min-height: 12px;
    line-height: 12px;
    border-bottom: 1px solid #CACACA;
    color: #10459E;
}

.home-ranking-a:hover {
    background-color: #E7E7E7;
    color: #186EFF;
}

.home-ranking-a-div {
    min-width: 114px;
    text-align: left;
    flex: 1 1 auto;
}

.home-ranking-a-team {
    font-weight: 100;
}

/*
 * LOGIN and REGISTRATION pages
 */

.login-width-align {
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
}

.login-form, .registration-form {
    min-width: 210px;
    margin: 0 auto;
}

.login-h3, .registration-h3 {
    text-align: center;
}

.login-input, .registration-input {
    height: 30px;
    width: 210px;
    margin-top: 10px;
    padding-left: 7px;
}

.login-button, .registration-button {
    font-weight: 700;
    height: 36px;
}

.login-h3, .login-button, .registration-button {
    width: 100%;
    margin-top: 10px;
}

.h5-to-sign-up {
    font-size: 11px;
    margin-top: 10px;
}

.btn-to-sign-up {
    font-size: 11px;
    padding: 0 3px;
    float: right;
    transition: .1s ease;
}

.btn-to-sign-up:hover {
    color: #0C2457;
    text-decoration: underline;
}