body {
    margin: 0;
    background-color: black;
    padding-top: 46px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: Verdana;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    border: double;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

span.validationError {
    color: red;
}

.btn {
    cursor: pointer;
}

.navbar {
    background-color: #F3711E;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    font-size: 16px;
    top: 0;
    width: 100%;
    position: fixed;
}

.navbar .navcon {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.navcon-align {
    display: flex;
    margin: 0 auto;
}

.navbar-link-home {
    color: white;
    border-left: 1px solid black;
}

.navbar-link {
    color: white;
    padding: 0 15px;
    height: 46px;
    line-height: 46px;
    border-right: 1px solid black;
    transition: .2s ease;
}

.navbar-link:hover {
    color: #294D99;
    background-color: #EAEAEA;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
    height: 46px;
    border-right: 1px solid black;
}

.navbar-drop-btn {
    padding: 15px 15px;
    border: 0px;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-dropdown-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

.navbar-dropdown-content a:hover {background-color: #ddd;}

.navbar-dropdown:hover .navbar-dropdown-content {display: block;}

.navbar-search {
    display: inline-block;
    padding: 12px 15px;
    border-right: 1px solid black;
}

.navbar-search-btn {

}

.body {
    background-color: #CDD9DF;
    min-height: calc(100vh - 100px);
    max-width: 1000px;
    margin: 0 auto;
}

.width-align {
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}