<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body admin-page">
        <div class="width-align">
            <div class="big-center-menu">
                <div class="create-match-div">
                    <h1>Create a match</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>