<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Guides & Info | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body home-page">
        <div class="width-align">
            <div class="left-area">
                <a th:href="@{/matches}" class="main-matches-head-a">
                    <h5 class="main-matches-head-h5">MATCHES</h5>
                </a>

                <div class="main-matches" th:each="match : ${matches}">
                    <a th:href="@{/}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-singleteam" th:text="${match.firstTeamName}">TEAM 1</h5>
                            <h5 class="main-matches-a-singleteam" th:text="${match.secondTeamName}">TEAM 2</h5>
                        </div>
                        <div class="main-matches-a-time" th:text="${match.timeOfStart}">TIME</div>
                    </a>
                </div>

                <a th:href="@{/}" class="main-results-head-a">
                    <h5 class="main-results-head-h5">RESULTS</h5>
                </a>

                <div class="main-results-big">
                    <a th:href="@{/}" class="main-results-a">
                        <div class="main-results-a-teams">
                            <h5 class="main-results-a-team">Virtus.pro</h5>
                            <h5 class="main-results-a-team">Natus Vincere</h5>
                        </div>
                        <div class="main-results-a-div-score">
                            <div class="main-results-a-score loss">2</div>
                            <div class="main-results-a-score win">16</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="center-menu home-guides">
                <div class="big-guide">
                    <a class="big-guide-a" th:href="@{/}">
                        <img th:src="@{/images/csgo-main-guide.png}" height="180px" width="600px">
                    </a>
                </div>

                <div class="little-guide">
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">f0rest's move to Dignitas sets off changes in NiP and GamerLegion - Report</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                </div>
            </div>

            <div class="right-area">
                <a th:href="@{/ranking}" class="main-ranking-head-a">
                    <h5 class="main-ranking-head-h5">RANKING</h5>
                </a>

                <div class="main-ranking-box">
                    <div style="max-width: inherit;" th:each="team : ${teams}">
                        <a th:href="@{/}" class="main-ranking-a">
                            <div>
                                <h5 class="main-ranking-a-team-place"
                                    th:text="${team.place} + '.'">PLACE</h5>
                            </div>
                            <div class="main-ranking-a-inner-div">
                                <h5 class="main-ranking-a-team-name"
                                    th:text="${team.name}">TEAM NAME</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>