<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Guides & Info | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body home-page">
        <div class="width-align">
            <div class="left-area">
                <a th:href="@{/matches}" class="main-matches-head-a">
                    <h5 class="main-matches-head-h5">MATCHES</h5>
                </a>

                <div class="main-matches" th:each="match : ${matches}">
                    <a th:href="@{'/matches/' + ${match.id}}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-singleteam" th:text="${match.firstTeamName}">TEAM 1</h5>
                            <div class="border-between-teams"></div>
                            <h5 class="main-matches-a-singleteam" th:text="${match.secondTeamName}">TEAM 2</h5>
                        </div>
                        <div class="main-matches-a-time" th:text="${match.timeOfStart}">TIME</div>
                    </a>
                </div>

                <a th:href="@{/results}" class="main-results-head-a">
                    <h5 class="main-results-head-h5">RESULTS</h5>
                </a>

                <div class="main-results-big" th:each="endedMatch : ${endedMatches}">
                    <a th:href="@{'/results/' + ${endedMatch.id}}" class="main-results-a">
                        <div class="main-results-a-teams">
                            <h5 class="main-results-a-team" th:text="${endedMatch.firstTeamName}">1 TEAM NAME</h5>
                            <div class="border-between-teams"></div>
                            <h5 class="main-results-a-team" th:text="${endedMatch.secondTeamName}">2 TEAM NAME</h5>
                        </div>
                        <div class="main-results-a-div-score">
                            <div th:class="${endedMatch.firstTeamState} + ' main-results-a-score'"
                                 th:text="${endedMatch.firstTeamScore}">1 TEAM SCORE</div>
                            <div th:class="${endedMatch.secondTeamState} + ' main-results-a-score'"
                                 th:text="${endedMatch.secondTeamScore}">2 TEAM SCORE</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="center-menu home-guides">
                <div class="big-guide">
                    <a class="big-guide-a" href="/guides/10">
                        <img th:src="@{/images/csgo-main-guide.png}" height="180px" width="600px">
                    </a>
                </div>

                <div class="guide-div-by-date" th:each="guidesList : ${guidesByDateLists}">
                    <h2 class="guidesListDate" th:text="${guidesList.get(0).dateOfCreation_onView}"></h2>
                    <div class="little-guide" th:each="guide : ${guidesList}">
                        <a th:href="@{'/guides/' + ${guide.id}}" class="lille-guide-a">
                            <h5 th:text="${guide.headline}" class="little-guide-h5">HEADLINE</h5>
                            <div th:text="${guide.timeOfCreation}" class="little-guide-time">DATE</div>
                        </a>
                    </div>
                </div><br/>
            </div>

            <div class="right-area">
                <a th:href="@{/ranking}" class="main-ranking-head-a">
                    <h5 class="main-ranking-head-h5">RANKING</h5>
                </a>

                <div class="main-ranking-box">
                    <div style="max-width: inherit;" th:each="team : ${teams}">
                        <a th:href="@{'/teams/' + ${team.name.toLowerCase()}}" class="main-ranking-a">
                            <div>
                                <h5 class="main-ranking-a-team-place"
                                    th:text="${team.place} + '.'">PLACE</h5>
                            </div>
                            <div class="main-ranking-a-inner-div">
                                <h5 class="main-ranking-a-team-name"
                                    th:text="${team.name}">TEAM NAME</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="footer :: footer" class="footer"></div>

<!--  As https://codeshack.io/eu-cookie-consent-popup-javascript/ stands:  -->
<script>
    (function() {
        if (!localStorage.getItem('cookieconsent')) {
            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(request.responseText);
                    var eu_country_codes = ['AL','AD','AM','AT','BY','BE','BA','BG','CH','CY','CZ','DE','DK','EE','ES','FO','FI','FR','GB','GE','GI','GR','HU','HR','IE','IS','IT','LT','LU','LV','MC','MK','MT','NO','NL','PO','PT','RO','RU','SE','SI','SK','SM','TR','UA','VA'];
                    if (eu_country_codes.indexOf(data.countryCode) != -1) {
                        document.body.innerHTML += '\
					<div class="cookieconsent" style="position:fixed;padding:20px;left:0;bottom:0;background-color:#5f5650;color:#FFF;text-align:center;width:100%;z-index:99999;">\
						This site uses cookies. By continuing to use this website, you agree to their use. \
						<a href="#" style="color: black;font-weight: 400;background-color: #F3711E;padding: 5px 20px;margin-left: 10px;border-radius: 2px;">OK</a>\
					</div>\
					';
                        document.querySelector('.cookieconsent a').onclick = function(e) {
                            e.preventDefault();
                            document.querySelector('.cookieconsent').style.display = 'none';
                            localStorage.setItem('cookieconsent', true);
                        };
                    }
                }
            };
            request.open('GET', 'http://ip-api.com/json', true);
            request.send();
        }
    })();
</script>
<script>
    var http = require("http");
    setInterval(function() {
        http.get("https://cstv-news-site.herokuapp.com/");
    }, 300000); // every 5 minutes (300000)
</script>
</body>
</html>