<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Guides & Info | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body home-page">
        <div class="width-align">
            <div class="home-left-area">
                <a th:href="@{/}" class="home-matches-head-a">
                    <h5 class="home-matches-head-h5">MATCHES</h5>
                </a>

                <div class="home-matches">
                    <a th:href="@{/}" class="home-matches-a">
                        <div class="home-matches-a-teams">
                            <h5 class="home-matches-a-team">Virtus.pro</h5>
                            <h5 class="home-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="home-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="home-matches-a">
                        <div class="home-matches-a-teams">
                            <h5 class="home-matches-a-team">Virtus.pro</h5>
                            <h5 class="home-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="home-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="home-matches-a">
                        <div class="home-matches-a-teams">
                            <h5 class="home-matches-a-team">Virtus.pro</h5>
                            <h5 class="home-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="home-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="home-matches-a">
                        <div class="home-matches-a-teams">
                            <h5 class="home-matches-a-team">Virtus.pro</h5>
                            <h5 class="home-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="home-matches-a-time">19:30</div>
                    </a>
                </div>
            </div>

            <div class="home-guides">
                <div class="big-guide">
                    <a class="big-guide-a" th:href="@{/}">
                        <img th:src="@{/images/csgo-main-guide.png}" height="180px" width="600px">
                    </a>
                </div>

                <div class="little-guide">
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">f0rest's move to Dignitas sets off changes in NiP and GamerLegion - Report</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                    <a th:href="@{/}" class="lille-guide-a">
                        <h5 class="little-guide-h5">TEAM RANKING: DECEMBER 2019 AND EPC WINNER</h5>
                        <div class="little-guide-time">12.12.2019</div>
                    </a>
                </div>
            </div>

            <div class="home-right-area">
                <a th:href="@{/ranking}" class="home-ranking-head-a">
                    <h5 class="home-ranking-head-h5">RANKING</h5>
                </a>

                <div class="home-ranking-box">
                    <a th:href="@{/}" class="home-ranking-a">
                        <div class="home-ranking-a-div">
                            <h5 class="home-ranking-a-team">1. Astralis</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="home-ranking-a">
                        <div class="home-ranking-a-div">
                            <h5 class="home-ranking-a-team">2. Evil Geniuses</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="home-ranking-a">
                        <div class="home-ranking-a-div">
                            <h5 class="home-ranking-a-team">3. Natus Vincere</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="home-ranking-a">
                        <div class="home-ranking-a-div">
                            <h5 class="home-ranking-a-team">4. Faze</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="home-ranking-a">
                        <div class="home-ranking-a-div">
                            <h5 class="home-ranking-a-team">5. Team Liquid</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>