<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Guides & Info | CSTV - navbar</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:fragment="navbar" class="navbar">
        <nav class="navcon">
            <div class="navcon-align">
                <a th:href="@{/}" class="navbar-link navbar-link-home">CSTV</a>
                <a th:href="@{/}" class="navbar-link">Guides</a>
                <a th:href="@{/}" class="navbar-link">Matches</a>
                <a th:href="@{/ranking}" class="navbar-link">Ranking</a>
                <div class="navbar-search">
                    <form th:action="@{/}" method="get">
                        <input type="text" placeholder="Search" name="navbar-search-input" id="navbar-search-input"/>
                        <button type="submit" class="navbar-search-btn btn">Search</button>
                    </form>
                </div>
                <a sec:authorize="isAuthenticated()" th:href="@{/login}" class="navbar-link">My Profile</a>
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="navbar-link">Sign In</a>
            </div>
        </nav>
    </div>
</body>
</html>