<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS:GO Rankings | CSTV</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/ranking.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body ranking-page">
        <div class="width-align">
            <div class="left-area">
                <a th:href="@{/}" class="main-matches-head-a">
                    <h5 class="main-matches-head-h5">MATCHES</h5>
                </a>

                <div class="main-matches">
                    <a th:href="@{/}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-team">Virtus.pro</h5>
                            <h5 class="main-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="main-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-team">Virtus.pro</h5>
                            <h5 class="main-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="main-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-team">Virtus.pro</h5>
                            <h5 class="main-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="main-matches-a-time">19:30</div>
                    </a>
                    <a th:href="@{/}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-team">Virtus.pro</h5>
                            <h5 class="main-matches-a-team">Natus Vincere</h5>
                        </div>
                        <div class="main-matches-a-time">19:30</div>
                    </a>
                </div>
            </div>

            <div class="center-menu ranking-big">
                <h3 style="margin-bottom: 15px">CS:GO Ranking on 15.01.2020</h3>
                <div class="ranking-box">
                    <a th:href="@{/}" class="ranking-a">
                        <div class="ranking-a-div">
                            <h5 class="ranking-a-team">1. Astralis</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="ranking-a">
                        <div class="ranking-a-div">
                            <h5 class="ranking-a-team">2. Evil Geniuses</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="ranking-a">
                        <div class="ranking-a-div">
                            <h5 class="ranking-a-team">3. Natus Vincere</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="ranking-a">
                        <div class="ranking-a-div">
                            <h5 class="ranking-a-team">4. Faze</h5>
                        </div>
                    </a>
                    <a th:href="@{/}" class="ranking-a">
                        <div class="ranking-a-div">
                            <h5 class="ranking-a-team">5. Team Liquid</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>