<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${team.name} + ' - CS:GO | CSTV'"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/matches.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/results.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin/end-match.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/single-team.css}" />
</head>
<body>

    <div th:include="navbar :: navbar" class="navbar"></div>

    <div class="body single-team-page">
        <div class="width-align">
            <div class="left-area-small">
                <div class="left-area-player-ranking">
                    <a th:href="@{/ranking}" class="main-player-rank-head-a">
                        <h5 class="main-player-rank-head-h5">TOP PLAYERS</h5>
                    </a>

                    <div class="player-ranking">
                        <div class="player-ranking-info">
                            <div style="min-width: 16px;" class="player-ranking-info-div">
                                <h5 class="player-ranking-info-h5">#</h5>
                            </div>
                            <div style="min-width: 81px;" class="player-ranking-info-div">
                                <h5 class="player-ranking-info-h5">NICKNAME</h5>
                            </div>
                            <div class="player-ranking-info-div">
                                <h5 class="player-ranking-info-h5">RATING</h5>
                            </div>
                        </div>

                        <div style="max-width: inherit;" th:each="player : ${players}">
                            <a th:href="@{/}" class="player-ranking-a">
                                <div>
                                    <h5 class="player-ranking-a-place"
                                        th:text="${player.place} + '.'">PLACE</h5>
                                </div>
                                <div class="player-ranking-div">
                                    <h5 class="player-ranking-a-nickname"
                                        th:text="${player.nickname}">NICKNAME</h5>
                                </div>
                                <div>
                                    <h5 class="player-ranking-a-kd"
                                        th:text="${player.kd}">RATING 2.0</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="left-area-team-ranking">
                    <a th:href="@{/ranking}" class="main-ranking-head-a">
                        <h5 class="main-ranking-head-h5">RANKING</h5>
                    </a>

                    <div class="team-ranking-info">
                        <div style="min-width: 22px;" class="team-ranking-info-div">
                            <h5 class="player-ranking-info-h5">#</h5>
                        </div>
                        <div style="min-width: 115px;" class="team-ranking-info-div">
                            <h5 class="team-ranking-info-h5">NAME</h5>
                        </div>
                    </div>

                    <div class="main-ranking-box">
                        <div style="max-width: inherit;" th:each="team : ${teams}">
                            <a th:href="@{'/teams/' + ${team.name.toLowerCase()}}" class="main-ranking-a">
                                <div>
                                    <h5 class="main-ranking-a-team-place"
                                        th:text="${team.place} + '.'">PLACE</h5>
                                </div>
                                <div class="main-ranking-a-inner-div">
                                    <h5 class="main-ranking-a-team-name"
                                        th:text="${team.name}">TEAM NAME</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-menu">
                <div class="team-main-div">
                    <div class="team-name-div">
                        <h1 class="team-name-head" th:text="${team.name}">TEAM NAME</h1>
                    </div>

                    <div class="team-players-div">
                        <a th:href="'/players/' + ${player}" class="team-single-player-wrap-link" th:each="player : ${team.players}">
                            <h4 class="player-nickname" th:text="${player}">NICKNAME</h4>
                        </a>
                    </div>

                    <div class="team-matches-wrapper">
                        <h3 class="team-matches-head">Upcoming matches:</h3>

                        <div class="upcoming-matches-box">
                            <div class="matches-box" th:each="upcomingMatch : ${teamsUpcomingMatches}">
                                <a th:href="@{'/matches/' + ${upcomingMatch.id}}" class="match-link">
                                    <div>
                                        <h5 class="match-time" th:text="${upcomingMatch.timeOfStart}">TIME</h5>
                                    </div>
                                    <div>
                                        <h5 class="match-first-team-name" th:text="${upcomingMatch.firstTeamName}">FIRST TEAM NAME</h5>
                                    </div>
                                    <div>
                                        <h5 class="match-vs-sign">vs</h5>
                                    </div>
                                    <div>
                                        <h5 class="match-second-team-name" th:text="${upcomingMatch.secondTeamName}">SECOND TEAM NAME</h5>
                                    </div>
                                    <div>
                                        <h5 class="match-tournament-name" th:text="${upcomingMatch.tournament}">TOURNAMENT</h5>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <h3 class="team-matches-head">Recent matches:</h3>

                        <div class="team-matches">
                            <div class="matches-box ended-matches-box" th:each="endedMatch : ${teamsEndedMatches}">
                                <a th:href="@{/ranking}" class="match-link ended-match-link">
                                    <div>
                                        <h5 class="ended-match-first-team-name" th:text="${endedMatch.firstTeamName}">FIRST TEAM NAME</h5>
                                    </div>

                                    <div>
                                        <h5 th:class="${endedMatch.firstTeamState} + ' ended-match-first-team-score'"
                                            th:text="${endedMatch.firstTeamScore}">FIRST TEAM SCORE</h5>
                                    </div>

                                    <div>
                                        <h5 class="ended-match-dash-sign">-</h5>
                                    </div>

                                    <div>
                                        <h5 th:class="${endedMatch.secondTeamState} + ' ended-match-second-team-score'"
                                            th:text="${endedMatch.secondTeamScore}">SECOND TEAM SCORE</h5>
                                    </div>

                                    <div>
                                        <h5 class="ended-match-second-team-name" th:text="${endedMatch.secondTeamName}">SECOND TEAM NAME</h5>
                                    </div>

                                    <div>
                                        <h5 class="ended-match-tournament-name" th:text="${endedMatch.tournament}">TOURNAMENT</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-area-medium">
                <a th:href="@{/matches}" class="main-matches-head-a">
                    <h5 class="main-matches-head-h5">MATCHES</h5>
                </a>

                <div class="main-matches" th:each="match : ${matches}">
                    <a th:href="@{'/matches/' + ${match.id}}" class="main-matches-a">
                        <div class="main-matches-a-teams">
                            <h5 class="main-matches-a-singleteam" th:text="${match.firstTeamName}">TEAM 1</h5>
                            <h5 class="main-matches-a-singleteam" th:text="${match.secondTeamName}">TEAM 2</h5>
                        </div>
                        <div class="main-matches-a-time" th:text="${match.timeOfStart}">TIME</div>
                    </a>
                </div>

                <a th:href="@{/results}" class="main-results-head-a">
                    <h5 class="main-results-head-h5">RESULTS</h5>
                </a>

                <div class="main-results-big" th:each="endedMatch : ${endedMatches}">
                    <a th:href="@{/}" class="main-results-a">
                        <div class="main-results-a-teams">
                            <h5 class="main-results-a-team" th:text="${endedMatch.firstTeamName}">1 TEAM NAME</h5>
                            <h5 class="main-results-a-team" th:text="${endedMatch.secondTeamName}">2 TEAM NAME</h5>
                        </div>
                        <div class="main-results-a-div-score">
                            <div th:class="${endedMatch.firstTeamState} + ' main-results-a-score'"
                                 th:text="${endedMatch.firstTeamScore}">1 TEAM SCORE</div>
                            <div th:class="${endedMatch.secondTeamState} + ' main-results-a-score'"
                                 th:text="${endedMatch.secondTeamScore}">2 TEAM SCORE</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>